 body {
    height: 50px;
    background-color: #7376F5;
    background-image: url ("http://cdn.cnn.com/cnn/.e/img/3.0/branding/backgrounds/thinking-business/thinking-business-background-full.jpg");
  }
  
