body {
background-Color:lightgreen;
}
h2 {
    text-align: center;
}

h1 {
    text-align: center;
    color:blue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
