
   body {
         font-family: Helvetical,Arial,sans-serif;
         color: #665544;
         padding: 015%015%;
      }
   h1 {
       text-align: center;
       color: blue;
       font-family: 'DancingScriptRegular';
       font-size: 400%;
     }
    p {
       font-family: 'DancingScriptRegular';
       font-weight: normal;
       font-style: normal;
       font-size: 200%;
     }
    i {
       color: darkgreen;
     }

 
