
 
 img{
  max-width: 100%;
  margin: auto;
  margin-top: 100px;
 }
 input[name="start"]{
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
 }
 input[name="stop"]{
  display: block;
  margin-left: 200px;
  margin-top: -40px;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
 }
