body { 
font-family: Arial, sans-serif;
margin: 0;
padding: 0; 
background-color: #d96fee;
color: #3f3f3f;
font-size: 16px;
line-height: 24px;
background-image: url("http://3.bp.blogspot.com/-i2Ce7HpxxSM/UXO93I9Cj9I/AAAAAAAAAkg/gFARxazhDko/s1600/BG_02.jpg");
}



#wrap { 
margin: 100px auto;
width: 940px;
background: #745767;
background-color:#24f1ba;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 10px;
border-radius: 10px;
border-radius: 10px;
}

#header {
text-align: center;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color:#6353f7;
padding: 10px 0 20px 0;
}
#header h1 {
text-align:center;
Color: #FFFFFF;
margin: 0;
padding: 0 0 0 30px;
font-weight: bold;
color: #26e3f8;
font-size: 38px;
line-height: 65px;
letter-spacing: -1px;
}
#header h2 {
 text-align:center;
 background-color:#8BB2D8;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin: 0 0 0 20px; 
padding: 5px 12px;
font-weight: normal;
color: #12c;
font-size: 22px;
letter-spacing: -1px;
background: #88e6a1;
border: 1px solid #fb5fff;
display: inline;
}

#topmenu {  
background: #ecdce1;
padding: 20px 20px;
border-bottom: 1px solid #e1e1e1;
border-top: 1px solid #e1e1e1;
}
#topmenu ul { margin: 0; padding: 0; list-style-type: none;}
#topmenu li { display: inline; padding: 0 20px 0 0 }
#topmenu li a { text-decoration: none; 
}




#menu ul li a { color: #12c; text-decoration: none; border-bottom: 1px dotted #12c; }
#menu ul li a:hover { color: #c12; border-bottom: 1px dotted #c12; }

#content { float: left; width: 580px; margin: 10px 0 40px 20px;}
#content h2 { font-weight: normal; font-size: 22px;  line-height: 33px; }
#content h3 { font-size: 17px; font-weight: normal; }

.cleft { float: left; width: 280px; margin: 10px 0; }
.cright { float: right; width: 280px; margin: 10px 0; }

#footer { 
text-align:center;
background-color:#6353f7;
 color:#AF7AC5;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;


color: #f1eeee;
padding: 10px;
border-top: 1px solid #d91bff;
}
#footer a { color: #f9f8fa; text-align:center; text-decoration: none; border-bottom: 1px dotted #fff; }
#footer a:hover { border-bottom: 1px dotted rgb(226, 37, 26); }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
